@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow Condensed', sans-serif;
}

.navbar {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar > ul {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

.navbar a {
    text-decoration: none;
}
