@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;400;500&family=Dela+Gothic+One&family=Kenia&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow Condensed', sans-serif;
    background: linear-gradient(#04395E, #032136 85%);
    color: #EEE5E9;
}

.navbar {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(#aca002 7%, #F9E900, #e4d50a 98%);
    font-size: 28px;
}

.navbar > ul {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

.navbar a {
    display: inline-block;
    font-family: 'Kenia', cursive;
    text-decoration: none;
    color: #000;
    letter-spacing: 1px;

    vertical-align: middle;
    margin-top: -3px;
}

#current {
    color: rgb(223, 2, 2);
}

.container {
    width: 85%;
    max-width: 1000px;
    margin: 20px auto 50px;
    padding: 10px 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.header h1 {
    color: #F9E900;
    font-size: 48px;
    letter-spacing: 2px;
    text-decoration: underline;
}

.header p {
    width: 90%;
    font-size: 25px;
    text-align: justify;
}

.contact {
    width: 90%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}

.info {
    flex-basis: 60%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.info h2 {
    font-size: 30px;
}

.info p {
    font-size: 20px;
}

.map {
    max-width: 200px;
    height: 200px;
}

iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

form {
    width: 70%;
}

fieldset {
    width: 100%;
    padding: 20px 40px;

    background-color: #031D44;
    border: 2px solid #F9E900;
    border-radius: 5px;

    font-size: 24px;
}

fieldset > *:not(legend) {
    margin-bottom: 40px;
}

legend {
    padding: 5px 15px;
    border: 2px solid #F9E900;
    font-size: 28px;
    font-weight: bold;

    background: linear-gradient(#04395E, #031D44);
}

.name {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
}

.name > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.required::after {
    content: ' *';
    color: rgb(189, 7, 7);
}

.radio, .check {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    justify-content: space-evenly;
}

.coded p, .language p {
    text-align: center;
    margin-bottom: 10px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button > input {
    width: 150px;
    padding: 5px 0;
}

.bug {
    width: 85%;
    height: 80px;
}

input[type="button"] {
    background-color: #fff;
    border: 1px solid #fff;
    color: #000;
}

input[type="button"]:hover, input[type="button"]:active {
    background-color: #ccc;
}

input, textarea {
    padding: 5px;
}



/* Media Query */

@media screen and (max-width: 917px) {
    form {
        width: 90%;
    }
}

@media screen and (max-width: 869px) {
    .info {
        align-items: center;
        text-align: center;
    }

    .info > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 777px) {
    .navbar {
        height: 40px;
    }

    .navbar a {
        font-size: 20px;
    }

    .container {
        padding: 10px;
    }

    .header p {
        text-align: left;
        font-size: calc(0.7rem + 2vw);
    }

    .header h1 {
        font-size: calc(1rem + 4vw);
    }
}

@media screen and (max-width: 520px) {
    fieldset {
        padding: 18px;
    }

    form {
        width: 100%;
    }

    .info h2 {
        font-size: 25px;
    }

    .info p {
        font-size: 18px;
    }
}
