@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow Condensed', sans-serif;
}

.navbar {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(#b98004 7%, #eed546, #e7b325 88%);
    font-size: 28px;
}

.navbar > ul {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

.navbar a {
    display: inline-block;
    font-family: 'Kenia', cursive;
    text-decoration: none;
    color: #000;
    letter-spacing: 1px;

    vertical-align: middle;
    margin-top: -3px;
}

#current {
    color: red;
}
